
// CLEAR THE DEFAULT STYLING
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  color: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: inherit; /* optionally inherit font family from parent */
  //font-size: inherit; /* optionally inherit font size from parent */
  /* add any other styling you want here */
}

input {
  background-color: var(--color1);
  border-radius: 0.25em;

  padding: 0.4em;
  width: 10em;

  font-size: 16px;
}
