/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Montserrat';
  src: url("~src/assets/Montserrat-VariableFont_wght.ttf");
}

body {
  font-family: 'Montserrat', sans-serif;
  color: antiquewhite;
  font-size: 18px;
}

:root {
  --color1: #202440;
  --color2: #4b3d72;
  --color3: #8763af;
  --color4: #da92fa;
  --color5: #ffd1f4;

  --gradient-color-1: rgba(40,36,102,1);
  --gradient-color-2: rgba(45,18,115,1);
  --gradient-color-3: rgba(48,9,121,1);
  --gradient-color-4: rgb(67, 30, 75);


  --gradient-length: 1200;

  --gradient-1: repeating-linear-gradient(
      -45deg,
      var(--gradient-color-1) calc(var(--gradient-length) * 1px),
      var(--gradient-color-2) calc(var(--gradient-length) * 2px),
      var(--gradient-color-3) calc(var(--gradient-length) * 3px),
      var(--gradient-color-4) calc(var(--gradient-length) * 4px),
      var(--gradient-color-1) calc(var(--gradient-length) * 5px)
  );

  --gradient-2: repeating-radial-gradient(
      circle,
      var(--gradient-color-1) 0%,
      var(--gradient-color-2) 30%,
      var(--gradient-color-4) 60%,
      var(--gradient-color-1) 100%
  );
}

body {
  padding: 0;
  margin: 0;


  background: var(--gradient-1);

  min-height: 100vh;
}

