
  <label class="css-input-entry">
    Color:
    <input type="text" [(ngModel)]="css.color" (blur)="handleChange()">
  </label>
  <label class="css-input-entry">
    Border:
    <input type="text" [(ngModel)]="css.border" (blur)="handleChange()" />
  </label>
  <label class="css-input-entry">
    Box Shadow:
    <input type="text" [(ngModel)]="css['box-shadow']" (blur)="handleChange()" />
  </label>
  <label class="css-input-entry">
    Background:
    <input type="text" [(ngModel)]="css.background" (blur)="handleChange()" />
  </label>

