:host{
  background:
    linear-gradient(to top, blueviolet, hotpink);

  padding: 2rem;
  border-radius: 0.4rem;

  box-shadow: rgba(0, 0, 0, 0.51) 5px 5px 25px;
}


.error {
  color: #ff0000;
  font-size: 0.8em;
}


:host > div {
  display: flex;
}
